#Ignore these files
*.Rproj
.git
.Rproj.user
rsconnect
crash_databases
*.pper
*.pper
*.pper
.Rproj.user/D291311B/build_options
.Rproj.user/D291311B/pcs/source-pane.pper
.Rproj.user/D291311B/pcs/windowlayoutstate.pper
.Rproj.user/D291311B/pcs/workbench-pane.pper
.Rproj.user/D291311B/profiles-cache/file13e3c17186983.Rprof
.Rproj.user/D291311B/profiles-cache/file13e3c5265e85.Rprof
.Rproj.user/D291311B/profiles-cache/file13e3c77b21fd0.Rprof
.Rproj.user/D291311B/rmd-outputs
.Rproj.user/D291311B/sources/prop/04B8158E
.Rproj.user/D291311B/sources/prop/89640027
.Rproj.user/D291311B/sources/prop/DB017C6E
.Rproj.user/D291311B/sources/prop/E7B9505A
.Rproj.user/D291311B/sources/prop/INDEX
.Rproj.user/shared/notebooks/paths
*.pper
.Rproj.user/D291311B/build_options
.Rproj.user/D291311B/pcs/source-pane.pper
.Rproj.user/D291311B/pcs/windowlayoutstate.pper
.Rproj.user/D291311B/pcs/workbench-pane.pper
.Rproj.user/D291311B/profiles-cache/file13e3c17186983.Rprof
.Rproj.user/D291311B/profiles-cache/file13e3c5265e85.Rprof
.Rproj.user/D291311B/profiles-cache/file13e3c77b21fd0.Rprof
.Rproj.user/D291311B/rmd-outputs
.Rproj.user/D291311B/sources/prop/04B8158E
.Rproj.user/D291311B/sources/prop/89640027
.Rproj.user/D291311B/sources/prop/DB017C6E
.Rproj.user/D291311B/sources/prop/E7B9505A
.Rproj.user/D291311B/sources/prop/INDEX
.Rproj.user/shared/notebooks/paths
.Rproj.user/D291311B/build_options
